@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
  zoom: reset;
  font-family: 'Roboto', sans-serif;
}
.main-content {
  height: 100vh ;
  background-color: #E0E0E0;
  display: flex;
  flex-direction: row;
}
.header-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.logo {
  cursor: pointer;
  margin-right: 20px;
  color: white;
}

nav {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-right: 90px;
}




@media screen and (max-width: 767px) {
  .main-content{
    width: 100%;
    height: 50vh;
    font-size: 15px;
  }
  }
@media screen and (max-width: 912px) {
 .main-content{
  width: 100%;
  height: 50vh;
  font-size: 15px;
 }
  }
